body {
  margin: 0;
}
.nav-menu {
  background-color: #ce2829;
  width: 100vw;
  align-items: center;
}
.logo {
  display: block;
  margin: auto;
  padding-top: 3rem;
}
.nav {
  width: 33%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: white;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav span {
  padding: 0 5px;
}
.order-pages {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
